@import "../Main/variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Sign in section
.signup {
  z-index: 99;
  width: 372px;
  height: 231px;

  form {
    height: 45px;
    z-index: 99;
    width: 100%;
    .forminput {
        
      width: 100%;
      margin-bottom: 20px;
     

      .input {
        background:#ffffff ;
        opacity: 0.9;
        width: 100%;
        height: 45px;
        border-radius: 4px;
        outline: none;
        padding:0 10px;

        input{
        padding: 20px;
        z-index: 100;
        background-color: #ffffff ;
        opacity: 0.9;
        
      }
  
      }
    }
    .select{
      width: 100%;
      height: 45px;
      // margin-left: 10px;
    }
    .checkbox_container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .check_box{
       
        .reme{
          margin-left: 5px;
          opacity: 0.5;
          z-index: 99;
          color: #ffffff;
        
        }
        
      }
      .forgot{
         .link{
          text-decoration: none;
          color: #ffffff;
           opacity: 0.5;
        }
      }
    }
    .bton {
      z-index: 100;
      width: 100%;
      height: 45px;
      button {
        width: 100%;
        height: 100%;
        background-color: $btn;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        opacity: 0.9;
       
      }
    }
  }
}
.btnn {
  width: 100%;
  height: 45px;
  button {
        width: 100%;
        height: 100%;
        background-color: $btnn;
        border: none;
        color: #ffffff;
        border-radius: 4px;
       
    }
}
//  styling for singin and register buttom

