@import "../Main/variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Sign in section
.signup {
  z-index: 1;
  width: 372px;
  height: 231px;
  form {
    width: 100%;
    .forminput {
        
      width: 100%;
      margin-bottom: 20px;
      .reme {
        color: #ffffff;
        opacity: 0.8;
      }

      .input {
          background:#ffffff ;
          opacity: 0.9;
        width: 100%;
        height: 45px;
        border-radius: 4px;
        outline: none;
  
      }
      input{
        background-color: #ffffff ;
        padding: 0 10px;
        opacity: 0.9;
        // &::placeholder{
        //   padding: 0 10px;
        // }
      }

      .forgot {
        margin-left: 120px;
      }
      .link {
        color: #ffffff;
        opacity: 0.8;
        text-decoration: none;
      }
    }
    .bton {
      z-index: 1;
      width: 100%;
      height: 45px;
      button {
        width: 100%;
        height: 100%;
        background-color: $btn;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        opacity: 0.9;
      }
    }
  }
}
.btnn {
  width: 100%;
  height: 45px;
  button {
        width: 100%;
        height: 100%;
        background-color: $btnn;
        border: none;
        color: #ffffff;
        border-radius: 4px;
    }
}
//  styling for singin and register buttom

