.membership{
  background-image: url(../assets/im1.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;

  .formcontainer{
       background-color: black;
       height: 100vh;
       opacity: 0.9;
       width: 100%;

       .formflex{
            display: flex;
            justify-content: space-between;
            height: 80vh;
            .imgcontainer{
               display: flex;
                flex: 2;
                 width: 300px;
                margin-top: 13%;
                height: 400px;
                border-right: 1px solid grey;
                animation: slideInFromTop 1s ease-in; 

                img{
                    width: 220px;
                    margin-left: 35%;
                    margin-bottom: 20%;
    
                }
            }
       }
    }

}