.nav_items {
  width: 100%;

  nav {
  width: 100%;
    margin-left: 0px;
    ul {
      display: flex;
      align-items: center;
      justify-content:space-around;
      list-style: none;
      padding: 20px;

      li {
          
        .nav_link {
          font-size: 20px;
          color: #f2f2f2;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            position: relative;
            top: 2px;
            transition: 1s  out;
            border-bottom: 5px solid #02b1e7;
          }
        }
        .home_notification {
        
          display: flex;
          align-items: center;
          text-align: center;
          border-radius: 0;
          padding: 14px 7px;
         
          font-size: 14px;

          &:hover {
            cursor: pointer;
          }

          p {
            font-size: 14px;
            background-color: #f44343;
            padding: 11px 35px;
            color: #fff;
            margin-right: 14px;
          }
        }
      }
    }
  }
}
