@import "../Main/variable";

.nav_items {
  width: 100%;

  nav {
  width: 100%;
 
    ul {
      display: flex;
      align-items: center;
      // justify-content:space-around;
      list-style: none;
      padding: 20px 10;

      li {
          
        .nav_link {
          font-size: 20px;
          color: #f2f2f2;
          text-decoration: none;
          font-weight: bold;
           margin-left: 30px;
          &:hover {
            position: relative;
            top: 2px;
            transition: 1s  out;
            border-bottom: 5px solid #02b1e7;
           
          }
        }
       
      }
       .home_notification {
      
          display: flex;
          align-items: center;
          text-align: center;
          border-radius: 0;
          padding: 14px 7px;
          margin-left: 250px;
          font-size: 14px;
          position: relative;

          .blue_toggle{
            position: absolute;
            top: 60%;
            
            right: 10%;
            p{
              background-color: #119789;
              padding: 9px 15px;
              font-size: 14px;
            }
          }
         
        

          &:hover {
            cursor: pointer;
          }
          img{
            width:30px;
            margin-top: 5px;
             animation: sound .1s ease-in-out infinite;
        
          }

          p {
            font-size: 14px;
            margin-top: 20px;
            background-color: #f44343;
            padding: 11px 35px;
            color: #fff;
            margin-right: 14px;
          }
        }
    }
  }
}




@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes sound {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
