@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "../Main/variable";

.train_container {
  width: 100%;
    .payment {
      .paragraph {
        text-align: center;
        font-weight: bold;
        text-align: center;
      }
      span {
        color: red;
      }

      p {
        // line-height: 1.2;
        font-weight: bold;
      }
      form {
        font-size: 16px;
        input {
      
          height: 40px;
        }
        input::placeholder {
          padding: 0 10px;
       }
       .personaldata {
        font-family: $font;
        .form_p {
          margin-top: 20px;
          font-weight: bold;
          margin-bottom: 0;
        }
        .informations {
          font-size: 14px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
        }
      }
      .select {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        .select_item {
          font-size: 14px;
          height: 40px;
        }
      }
      .state {
        display: flex;
        .select_item {
          font-size: 15px;
          height: 40px;
        }
      }
      input::placeholder {
        font-size: 14px;
      }
      .Contact-container {
        .form_p {
          margin-top: 20px;
          margin-bottom: 0;
          font-weight: bold;
        }
      }
      .textarea {
        margin-top: 10px;
      }
    }
    .btn {
      display: block;
      margin: auto;
      button {
        border: none;
        background-color: red;
        width: 150px;
        padding: 10px 40px;
        border-radius: 3px;
        color: #ffffff;
      }
    }
      }
      
    
  
  
}
