@import "../Main/variable";

.sidebar {
  background-color: gray;
  width: 400px;
  height: 100vh;
  .sidebarcont {
    .sideimg {
      width: 60px;
      height: 60px;

      img {
        margin: 30px;
        width: 60px;
      }
    }

    .sidebarinput {
      align-items: center;
      margin-left: 35px;
      margin-top: 100px;
      background-color: #ffffff;
      border-radius: 50px;
      width: 300px;
      height: 35px;
      padding: 2px 20px;

     

      img {
        width: 15px;
        height: 15px;
        color: #ffffff;
        margin-right: 5px;
      }
      input{
        border: none;
       
      }
      input:focus {
        outline: none;
        border: none;
        
      }
    }
    .sidebarlist {
      margin-top: 40px;

      li {
        list-style: none;
        color: #ffffff;
        font-size: 18px;
        margin: 20px 0; 
       
        font-weight: bold;cursor: pointer;
      
      }
    }
    .postb {
      width: 200px;
      height:200px;
      position: absolute;
      bottom: 30px;
      left: 250px;
      img{
        width: 100%;
      }
     
    }
    .img4 {
      position: absolute;
      bottom: 20px;
      left: 35px;
      width: 60px;
      height: 60px;
      margin-top: 40px;
      background-color: $primary;
      padding: 12px 20px;
      border-radius: 50%;
    }
    .location {
      align-items: center;
      width: 350px;
      height: 150px;
      margin-top: 0px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      padding: 17px 18px;
      font-size: 13px;
      color: #fff;
      background: $primary;
      box-shadow: rgba(0, 150, 150, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 22px 18px;

      img {
        display: block;
        margin-right: 20px;
        margin-top: 0;
      }

      .location_ict {
        display: flex;
        p a {
          color: #fff;
        }
      }

      .phone {
        margin: 0 35px;
        color: #fff;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
